.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
      }
    }
  }
}
textarea.form-control {
  min-height: 500px;
}

.filter-block {
  margin-bottom:10px;
}

.filter-separator {
  line-height: 35px;
}